<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>NSBelfast - {{ page.title }}</title>
    
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nsb.css">

    <script src="/scripts/modernizr.js"></script>
    
    <!-- Google Analytics Tracking Code -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51009915-1', 'nsbelfast.com');
      ga('send', 'pageview');
    </script>
  </head>
  
  <body>

    <header>
      <div class="row">
        <div class="twelve columns">
          <hgroup>
            <h1>NSBelfast</h1>
            <h2>A gathering of Belfast cocoaheads</h2>
            <img id="top_logo" src="/images/logo.svg" alt="NSBelfast - A gathering of Belfast cocoaheads">
          </hgroup>
        </div>
      </div>
    </header>

    <section class="strapline row">
      <div class="twelve columns">
        <h3 id="countdown">A gathering of Belfast cocoaheads</h3>
      </div>
    </section>

    <section id="next_event">
      <blockquote class="row">
        <header class="medium-2 columns"><img src="/images/calendar_icon.svg" width="100" height="100"></header>
        <div class="medium-10 columns">
          <p>Next meetup: WWDC Keynote, June 2nd 2014 at 5:45pm</p>
          <footer>
            &mdash; Venue: Rumble Labs, Hill Street
            <br />
            &mdash; Sign up using our <a href="https://getinvited.to/nsbelfast/wwdc-2014-keynote/">getinvited.to page</a> or scroll down
          </footer>
        </div>
      </blockquote>
    </section>
      
    <section class="top-content">
      <div class="twelve columns">
        <div class="row">
            
            {{ content }}
            
        </div>
      </div>
    </section>

    <footer class="row">
      <div class="twelve columns">
        <hr>
        <div class="row collapse">
          <div class="medium-6 medium-left columns footer-zone">
            <p><a href="/">Home</a> | <a href="/about">About</a> | <a href="/archives">Archives</a> | <a href="https://github.com/nsbelfast">GitHub</a> | <a href="http://twitter.com/NSBelfast">Twitter</a></p>
          </div>
          <div class="medium-6 medium-right columns footer-zone">
            &copy; <a href="http://nsbelfast.com">NSBelfast.com</a> 2014. All rights reserved.
          </div>
        </div>
      </div>
    </footer>

  </body>
  
</html>
